<div class="container">
        <div class="heading">
                <div class="row">
                        <div class="col-md-10">
                        <h1>PII Tracking</h1>
                </div>
                <div class="col-md-2">
                        <button id="trackPIIData" mat-button>Track PII Data</button>
                
                </div></div>
        
        </div>
        <div class="id-search">
              <div class="id-name">
                      <p>Name Of Identity</p>
                      <mat-form-field class="example-full-width">
                        <input matInput>
                      </mat-form-field>
                      <mat-form-field class="example-full-width">
                        <input matInput>
                      </mat-form-field>
              </div>
              <button mat-button>Search</button>
        </div>
       
                <div class="row">
                        <div class="col-md-6">
                                <div class="gdpr-files">
                                        <p>GDPR Files</p>
                                        <span><sup>#</sup>21975</span>
                                </div>
                        </div>
                        <div class="col-md-6">
                                <div class="entities-found">
                                        <p>Entities Found</p>
                                </div>
                        </div>
                </div>
                <div class="row">
                        <div class="col-md-6">
                        <div class="file-location-distribution">
                                        <p>File Location Distribution</p>
                        </div> 
                        </div>
                        <div class="col-md-6">
                                <div class="gdpr-file-types-distribution">
                                        <p>GDPR File Types Distribution</p>
                                </div>
                        </div>
                </div>
                <div class="file-table">
                        <div class="row file-table-headings">
                                <div class="col-md-3"><p>Server<span class="glyphicon glyphicon-chevron-down"></span></p></div>
                                <div class="col-md-3"><p>File Name<span class="glyphicon glyphicon-chevron-down"></span></p></div>
                                <div class="col-md-3"><p>PII<span class="glyphicon glyphicon-chevron-down"></span></p></div>
                                <div class="col-md-3"><p>Full<span class="glyphicon glyphicon-chevron-down"></span></p></div>
                        </div>
                        
                                <div class="row file" *ngFor="let file of files">
                                       <div class="col-md-3"><p>{{file.server}}</p></div> 
                                       <div class="col-md-3"><p>{{file.filename}}</p></div> 
                                       <div class="col-md-3"><p>{{file.pii}}</p></div> 
                                       <div class="col-md-3"><p>{{file.full}}<p></div> 
                                </div>
                        
                </div>
</div>
