.container{
    margin-top: 2rem;
    max-width: 1300px;

        h1{
            flex: 4;
            color: white;
        }
        button{
            height: 50px;
            background-color: rgb(82, 84, 175);
            color: white;
            width: 13rem;
            margin-left: 5.3rem;
        }
    
    .id-search{
        padding: 1rem;
        margin-bottom: 2rem;
        background-color: rgb(24, 24, 43);

        p, input{
            color: white;
        }
        mat-form-field{
            display: inline;
            
        .mat-form-field-wrapper{
            width: 40%;
        }

        }
        button{
            width: 150px;
        }
    }
    .gdpr-files, .entities-found, .file-location-distribution, .gdpr-file-types-distribution{
        background-color: rgb(24, 24, 43);
        padding: 1rem;
        color: white;
    }
    .gdpr-files, .entities-found{
        height: 120px;
        margin-bottom: 2rem;
        
        span{
            font-size: 2rem;
        }
        
    }
    .file-location-distribution, .gdpr-file-types-distribution{
        height: 300px;
        margin-bottom: 2rem;
    }

    .file-table{
        color: white;
        padding: 1rem;

        .file-table-headings, .file{
            background-color: rgb(24, 24, 43);
            margin-bottom: 1rem;
        }
        .file-table-headings{
            padding-top: .5rem;
            height: 40px;

            
        }
        .file{
            height: 100px;
            padding-top: 2rem;
        }
    }
    table {
        width: 100%;
        background-color: rgb(24, 24, 43);

        th{
            color:darkgray;
        }
        td{
            color: white;
        }
        .glyphicon{
            margin-left: 1rem;
            top: 2px;
        }
    }
      

}
