.container{
    height: 1300px;
    background-color: rgb(38, 38, 48);
    max-width: 100%;
    float: left;
    padding: 0;

        .heading{
            width: 70%;
            float: left;
            height: 4rem;

            h1{
                color: white;
            }
            button{
                float: right;
            }
    
}
}

